@import url('https://fonts.googleapis.com/css?family=Fascinate+Inline:400|Luckiest+Guy:400');

$header-font: 'Fascinate Inline', cursive;
$content-font: 'Luckiest Guy', cursive;
$highlight-color: #ffefd4;

.list-container {
  border-radius: 5px;
  width: 100%;
}

.widget-container svg {
  width: 30px;
  height: 30px;
}

.btn {
  margin-top: 10px;
}

.the-rating {
  width: 250px;
}

.add-new-container {
  text-align: right;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: $highlight-color;
}

.header-row {
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 3px solid;
}

%header {
  font-family: $header-font;
  font-size: 30px;
  color: $highlight-color;
}

.header-name {
  @extend %header;
  width: 10%;
}

.header-rating {
  @extend %header;
  width: 45%;
}

.header-description {
  @extend %header;
  width: 45%;
}

%shared-content-styling {
  font-size: 20px;
  text-align: left;
}

.beer-name {
  @extend %shared-content-styling;
  width: 10%;
}

.the-rating {
  @extend %shared-content-styling;
  width: 45%;
}

.beer-description {
  @extend %shared-content-styling;
  width: 45%;
}